@model IEnumerable<DAL.ART_M_STEP_ARTWORK>
@using GridMvc.Html


@{
    ViewBag.Title = "AllStep";
}

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />

<h2>AllStep</h2>


<p>
    All Step With Grid
</p>


@Html.Grid(Model).Columns(columns =>
{
    columns.Add(foo => foo.STEP_ARTWORK_CODE).Titled("Code").Sortable(true).Filterable(true);
    columns.Add(foo => foo.STEP_ARTWORK_NAME).Titled("Name").Sortable(true).Filterable(true);
}).WithPaging(10)


