@*<div class="row">
    <div style="width: 150px;" class="col-md-2">
        By :
        <select class="cls_lov_igrid_type" style="width:120px;">
            <option value="pending">my pending job</option>

                </select>
            </div>
            <div style="width: 150px;" class="col-md-4">
                Keyword :
                    <input type="text" class="cls_txt_search_keyword form-control" placeholder="Ex. 1MMK202301270316" />
            </div>
</div>*@
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary cls_btn_search_igrid">Search</button>
        <button type="button" class="btn btn-info cls_btn_excel_igrid">Export excel</button>

    </div>
</div>

<table id="table_igrid_view" class="display" style="width:100%">
    <thead>
        <tr>
            @*<th class="cls_nowrap">No.</th>*@
            <th class="cls_nowrap">Id.</th>
            <th class="cls_nowrap">StatusApp</th>
            @*<th class="cls_nowrap">ID</th>*@
            <th class="cls_nowrap">Condition</th>
            <th class="cls_nowrap">RequestType</th>
            <th class="cls_nowrap">DocumentNo</th>
            <th class="cls_nowrap">DMS No./Artwork</th>
            <th class="cls_nowrap">Material No.</th>
            <th class="cls_nowrap">Description</th>
            <th class="cls_nowrap">Group</th>
            <th class="cls_nowrap">Brand</th>
            <th class="cls_nowrap">Assignee</th>
            <th class="cls_nowrap">CreateOn</th>
            <th class="cls_nowrap">ActiveBy</th>
            <th class="cls_nowrap">Action</th>
   
        </tr>
    </thead>
</table>
