<div class="row">
    <div style="width: 150px;" class="col-md-2">
        Receiving date from :
        <input style="width:120px;" class="cls_my_datepicker form-control cls_inbox_cus_date_from" />
    </div>
    <div style="width: 150px;" class="col-md-2">
        Receiving date to :
        <input style="width:120px;" class="cls_my_datepicker form-control cls_inbox_cus_date_to" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary cls_btn_search_inbox_cus">Search</button>
        <button type="button" class="btn btn-info cls_btn_excel_inbox_cust">Export excel</button>
    </div>
</div>
<table id="table_incoming_inbox_customer" class="display" style="width:100%;">
    <thead>
        <tr>
            <th class="cls_nowrap">No.</th>
            <th class="cls_nowrap">Step</th>
            <th class="cls_nowrap">Workflow no.</th>
            <th class="cls_nowrap">Packaging type</th>
            <th class="cls_nowrap">Primary size</th>
            <th class="cls_nowrap">Brand</th>
            <th class="cls_nowrap">Ship to name</th>
            <th class="cls_nowrap">Destination</th>
            <th class="cls_nowrap">Due date (days)</th>
        </tr>
    </thead>
</table>







