<div class="row">
    <div style="width: 150px;" class="col-md-2">
        Receiving date from :
        <input style="width:120px;" class="cls_my_datepicker form-control cls_pp_view_date_from" />
    </div>
    <div style="width: 150px;" class="col-md-2">
        Receiving date to :
        <input style="width:120px;" class="cls_my_datepicker form-control cls_pp_view_date_to" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary cls_btn_search_pp_view">Search</button>
        <button type="button" class="btn btn-info cls_btn_excel_pp_view">Export excel</button>
        <button type="button" class="cls_btn_accept_pp_view btn btn-success">Accept task</button>

    </div>
</div>
<table id="table_pp_view" class="display" style="width:100%">
    <thead>
        <tr>
            <th class="cls_nowrap">No.</th>
            <th class="cls_nowrap">Sold to</th>
            <th class="cls_nowrap">GROUPING</th>
            <th class="cls_nowrap">Ship to</th>
            <th class="cls_nowrap">Sales order</th>
            <th class="cls_nowrap">Item</th>
            <th class="cls_nowrap">Production Plant</th>
            <th class="cls_nowrap">Sales org</th>
            <th class="cls_nowrap">RDD</th>
            <th class="cls_nowrap">Brand</th>
            <th class="cls_nowrap">PKG type</th>
            <th class="cls_nowrap">Product code</th>
            <th class="cls_nowrap">PKG code</th>
            <th class="cls_nowrap">Vendor</th>
            <th class="cls_nowrap">Workflow no.</th>
            <th class="cls_nowrap">Receiving date-time</th>
            <th class="cls_nowrap">Comment by PA</th>
        </tr>
    </thead>
</table>