<div class="cls_task_form_attachment" style="padding-top:10px;">
    <input type="hidden" class="cls_node_id_file_version" />
    <form class="cls_form_att_for_style cls_form_upload_file_version" method="POST" enctype="multipart/form-data">
        <div class="dropzone">
            <div class="row fileupload-buttonbar" style="padding:0px;">
                <div class="col-lg-12">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add version...</span>
                        <input type="file" name="files[]" class="cls_fileinputMockupVersion" id="fileinputMockupVersion" accept="" onclick="clickFilesMockupVersionTask()" onchange="return checkFilesMockupVersionTask(event)" multiple>
                    </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start upload</span>
                    </button>
                    <button type="reset" class="btn btn-danger cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel upload</span>
                    </button>
                </div>
            </div>
            <!-- The table listing the files available for upload/download -->
            <div class="cls_div_table_version">
                <table role="presentation" class="cls_table_attachment_version display dataTable" style="width:100%;padding-top:0px;">
                    <thead>
                        <tr>
                            <th class="cls_nowrap"></th>
                            <th class="cls_nowrap">File name</th>
                            <th class="cls_nowrap">File size</th>
                            <th class="cls_nowrap">Version</th>
                            <th class="cls_nowrap">Uploaded at</th>
                            <th style="display:none;" class="cls_th_uploaded_by cls_nowrap">Uploaded by</th>
                            <th class="cls_nowrap">Action</th>
                        </tr>
                    </thead>
                    <tbody class="files"></tbody>
                </table>
            </div>
        </div>
    </form>
</div>
<!-- The template to display files available for upload -->
<script id="template-upload_file_version" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) {
    var isValid = true;
    if(IsVendor == '1' && CURRENT_STEP_CODE_DISPLAY_TXT != 'SEND_VN_QUO') { if(file.name.indexOf(WORKFLOW_NO) == -1) { isValid = false; alertError2("Please attach a file name with a workflow number [" + WORKFLOW_NO + "]"); } }
    if (isValid) { %}
    <tr class="template-upload fade">
        <td>
            @*<span class="preview"></span>*@
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td colspan="4" style="text-align:right;">
            {% if (!i && !o.options.autoUpload) { %}
            <button style="width:80px;" class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button style="width:80px;" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download_file_version" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr data-node-id="{%=file.nodeid%}" data-version="{%=file.version%}" class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                <img src="{%=file.thumbnailUrl%}">
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            {% if (!file.error) { %}
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
            {% } %}
        </td>
        <td>{%=file.version2%}</td>
        <td>{%=file.step%}</td>
        {% if(IsVendor == '1' || IsCustomer == '1') { $('.cls_th_uploaded_by').hide(); %}
        {% } else {
        $('.cls_th_uploaded_by').show();
        if (isEmpty(file.create_by_desc_txt)) { %}
        <td>{%=file.create_by_display_txt%}<br />{%=myDateTimeMoment(file.create_date_display_txt)%} </td>
        {% } else { %}
        <td>{%=file.create_by_display_txt%}<br />{%=file.create_by_desc_txt%}<br />{%=myDateTimeMoment(file.create_date_display_txt)%} </td>
        {% }
        }%}
        <td class="cls_nowrap" style="width:70px;">
            {% if (file.canDownload) { %}
            <a href="@Url.Action("DownloadVersion","FileUpload")?nodeIdTxt={%=file.NODE_ID_TXT%}&version={%=file.version%}" class="cls_hand" target="_blank">Download</a><br />
            {% } %}
            {% if (file.canDelete) { %}
            <a data-node-id="{%=file.nodeid%}" data-version="{%=file.version%}" style="color:#d9534f;" class="cls_hand cls_delete_file_version">Delete</a>
            {% }  %}
            {% if (!file.canDownload && !file.canDelete) { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<script type="text/javascript">
function clickFilesMockupVersionTask() {
        var FileTypeAllowed_Values = '';
        var FileTypeAllowed = '@System.Configuration.ConfigurationManager.AppSettings["FileTypeNotAllowed"]';
        var ExtensionsList = FileTypeAllowed.split(';');

        for (var i = 0; i < ExtensionsList.length; i++) {
            FileTypeAllowed_Values += ExtensionsList[i] + ',';
        }
        FileTypeAllowed_Values = FileTypeAllowed_Values.substring(0, FileTypeAllowed_Values.length - 1);
        $('.cls_fileinputMockupVersion').attr('accept', FileTypeAllowed_Values);
    }

function checkFilesMockupVersionTask(event) {
  let fileList = event.target.files;
        var FileTypeNotAllowed = '@System.Configuration.ConfigurationManager.AppSettings["FileTypeNotAllowed"]';
        var ExtensionsList = FileTypeNotAllowed.split(';');
        var fileCount = 0;
        fileCount = fileList.length;
     var b = false;
     var filesName = '';

        if (fileCount == 1) {

                let file = fileList[0];
                let extension = file.name.match(/(?<=\.)\w+$/g)[0].toLowerCase();

            var ext2 = "." + extension.toLowerCase();
            filesName = file.name ;
                if (ExtensionsList.includes(ext2)) {
                    b = true;
                }
        }
        else {
            b = true;
            for (var i = 0; i < fileList.length ; i++) {

                let file = fileList[i];
                let extension = file.name.match(/(?<=\.)\w+$/g)[0].toLowerCase();

                var ext2 = "." + extension.toLowerCase();

                if (!ExtensionsList.includes(ext2)) {
                    b = false;
                    filesName += file.name + ' \r\n ';
                }
            }
        }

        if (b == false) {
            alert('Invalid file type \r\n' + filesName );
            event.target.value = '';
            fileInput.value = '';
            return false;
        }
    }

</script>
