<div class="cls_pg_price_template_vendor" style="padding-top:10px;">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 control-label">
                Packaging type :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_packaging_type" />
            </div>
            <div class="col-md-2 control-label">
                Printing system :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_printing_system" />
            </div>
            <div class="col-md-2 control-label">
                Brand :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_brand" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 control-label">
                Primary type :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_primary_type" />
            </div>
            <div class="col-md-2 control-label">
                Primary size :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_primary_size" />
            </div>
            <div class="col-md-2 control-label">
                Pack size :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_pack_size" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 control-label cls_nowrap">
                Dimension of (LXWXH)(mm.) :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_dimension_of" />
            </div>
            <div class="col-md-2 control-label">
                Accessories (Grad,Qty) :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_accessories" />
            </div>
            <div class="col-md-2 control-label">
                Specification (Grade of) :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_specification" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 control-label">
                Flute :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_flute" />
            </div>
            <div class="col-md-2 control-label">
                Roll/sheet :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_roll_sheet" />
            </div>
            <div class="col-md-2 control-label">
                Direction of sticker :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_direction_of_sticker" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 control-label">
                Color :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_color" />
            </div>
            <div class="col-md-2 control-label">
                Special color :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_special_color" />
            </div>
            @*<div class="col-md-2 control-label">
                    Remark :
                </div>
                <div class="col-md-2">
                    <input disabled type="text" class="form-control cls_qua_remark" />
                </div>*@
        </div>
        <div class="row">
            <div class="col-md-2 control-label">
                Coating :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_coating" />
            </div>
            <div class="col-md-2 control-label">
                Style of printing :
            </div>
            <div class="col-md-4">
                <input disabled type="text" class="form-control cls_qua_style_of_printing" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 control-label">
                Est.SKUs :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_est" />
            </div>
            <div class="col-md-2 control-label">
                Est. volume :
            </div>
            <div class="col-md-2">
                <input disabled type="text" class="form-control cls_qua_est_volume" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 control-label">
                Remark :
            </div>
            <div class="col-md-10">
                <textarea rows="4" disabled type="text" class="form-control cls_qua_remark"></textarea>
            </div>
        </div>
    </div>
    <div class="row cls_div_price_template_vendor">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Set Price Tempate</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="cls_btn_reset_price_template_vendor btn btn-danger">Clear</button>
                            <button type="button" class="cls_btn_save_price_template_vendor btn btn-primary">Save</button>
                            <button type="button" class="cls_btn_submit_quotation_price_template btn btn-warning">Submit Quotations</button>
                            <button type="button" data-toggle="modal" data-target="#popup_attachment" data-go_to_step="SEND_VN_QUO" class="btn btn-default">View/upload attachment</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <table class="cls_table_pg_price_template_vendor display">
                                <thead>
                                    <tr>
                                        <th>
                                            Scale Price
                                        </th>
                                        <th>
                                            Price (THB/PC)
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Comment :
                        </div>
                        <div class="col-md-11">
                            <textarea class="form-control cls_remark_qua_vendor" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

