<div class="cls_pg_price_template" style="padding-top:10px;">
    <div class="row cls_div_select_vendor cls_hide">
        <form>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 control-label lbl_qua_packaging_type">
                        Packaging type<span style="color:red;">*</span> :
                    </div>
                    <div class="col-md-2">
                        <input required disabled type="text" class="form-control cls_qua_packaging_type" />
                    </div>
                    <div class="col-md-2 control-label lbl_qua_printing_system">
                        Printing system :
                    </div>
                    <div class="col-md-2">
                        <input disabled type="text" class="form-control cls_qua_printing_system" />
                    </div>
                    <div class="col-md-2 control-label lbl_qua_brand">
                        Brand :
                    </div>
                    <div class="col-md-2">
                        <input disabled type="text" class="form-control cls_qua_brand" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 control-label lbl_qua_primary_type">
                        Primary type<span style="color:red;">*</span> :
                    </div>
                    <div class="col-md-2">
                        <input required disabled type="text" class="form-control cls_qua_primary_type" />
                    </div>
                    <div class="col-md-2 control-label lbl_qua_primary_size">
                        Primary size<span style="color:red;">*</span> :
                    </div>
                    <div class="col-md-2">
                        <input required disabled type="text" class="form-control cls_qua_primary_size" />
                    </div>
                    <div class="col-md-2 control-label lbl_qua_pack_size">
                        Pack size<span style="color:red;">*</span> :
                    </div>
                    <div class="col-md-2">
                        <input required disabled type="text" class="form-control cls_qua_pack_size" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 control-label lbl_qua_dimension_of cls_nowrap">
                        Dimension of (LXWXH)(mm.) :
                    </div>
                    <div class="col-md-2">
                        <input disabled type="text" class="form-control cls_qua_dimension_of" />
                    </div>
                    <div class="col-md-2 control-label lbl_qua_accessories">
                        Accessories (Grad,Qty) :
                    </div>
                    <div class="col-md-2">
                        <input disabled type="text" class="form-control cls_qua_accessories" />
                    </div>
                    <div class="col-md-2 control-label lbl_qua_specification">
                        Specification (Grade of)<span style="color:red;">*</span> :
                    </div>
                    <div class="col-md-2">
                        <input required disabled type="text" class="form-control cls_qua_specification" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 control-label lbl_qua_flute">
                        Flute :
                    </div>
                    <div class="col-md-2">
                        <input disabled type="text" class="form-control cls_qua_flute" />
                    </div>
                    <div class="col-md-2 control-label lbl_qua_roll_sheet">
                        Roll/sheet :
                    </div>
                    <div class="col-md-2">
                        <input disabled type="text" class="form-control cls_qua_roll_sheet" />
                    </div>
                    <div class="col-md-2 control-label lbl_qua_direction_of_sticker">
                        Direction of sticker :
                    </div>
                    <div class="col-md-2">
                        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_qua_direction_of_sticker" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 control-label lbl_qua_color">
                        Color (จำนวนสิพิมพ์)<span style="color:red;">*</span> :
                    </div>
                    <div class="col-md-2">
                        <input required disabled type="text" class="form-control cls_qua_color" />
                    </div>
                    <div class="col-md-2 control-label lbl_qua_special_color">
                        Special color :
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control cls_qua_special_color" />
                    </div>
                    @*<div class="col-md-2 control-label lbl_qua_remark">
                            Remark :
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control cls_qua_remark" />
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-md-2 control-label lbl_qua_coating">
                        Coating :
                    </div>
                    <div class="col-md-2">
                        <input disabled type="text" class="form-control cls_qua_coating" />
                    </div>
                    <div class="col-md-2 control-label lbl_qua_style_of_printing">
                        Style of printing<span style="color:red;">*</span> :
                    </div>
                    <div class="col-md-4">
                        @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_qua_style_of_printing" }, { "is_required", "required" }, { "cls_txtarea", "cls_input_qua_style_of_printing" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 control-label lbl_qua_est">
                        Est.SKUs<span style="color:red;">*</span> :
                    </div>
                    <div class="col-md-2">
                        <input required type="text" class="form-control cls_qua_est" />
                    </div>
                    <div class="col-md-2 control-label lbl_qua_est_volume">
                        Est. volume<span style="color:red;">*</span> :
                    </div>
                    <div class="col-md-2">
                        <input required type="text" class="form-control cls_qua_est_volume" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 control-label lbl_qua_remark">
                        Remark :
                    </div>
                    <div class="col-md-10">
                        <textarea rows="4" type="text" class="form-control cls_qua_remark"></textarea>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Select vendor</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="cls_btn_reset_vendor_price_template btn btn-danger">Clear</button>
                                <button type="button" class="btn cls_btn_save_vendor_price_template btn-primary">Save</button>
                                <button type="submit" class="cls_btn_request_quotation_price_template btn btn-warning">Request quotations</button>
                                <button type="button" data-toggle="modal" data-target="#popup_attachment" data-go_to_step="SEND_VN_QUO" class="btn btn-default">View/upload attachment</button>
                            </div>
                        </div>
                        <div class="row cls_row_select_vendor">
                            <div class="col-md-1 control-label">Vendor<span style="color:red;">*</span> : </div>
                            <div class="col-md-4">
                                @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_search_vendor_price_template" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="cls_table_user_vendor_price_template display" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>

                                            </th>
                                            <th>

                                            </th>
                                            <th>
                                                Vendor name
                                            </th>
                                            <th>
                                                User name
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            @*<th>
                                                    Comment by PG
                                                </th>*@
                                            <th style="display:none;">

                                            </th>
                                            <th style="display:none;">

                                            </th>
                                            <th style="display:none;">

                                            </th>
                                            <th style="display:none;">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row cls_div_price_template cls_hide">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Set price template</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="cls_btn_new_row_price_template btn btn-success">New row</button>
                            <button type="button" class="cls_btn_reset_price_template btn btn-danger">Clear</button>
                            <button type="button" class="cls_btn_save_price_template btn btn-primary">Save</button>
                            @*<button type="button" class="cls_btn_submit_quotation_price_template btn btn-warning">Submit Quotations</button>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <table class="cls_table_pg_price_template display" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            Scale Price
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row cls_div_price_compare cls_hide">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Price compare</h3>
                </div>
                <div class="panel-body">
                    <div class="row cls_row_manual_add_vendor">
                        <div class="col-md-1 control-label">Vendor : </div>
                        <div class="col-md-4">
                            @Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_search_vendor_price_template_manual" } })
                        </div>
                    </div>
                    <div class="row cls_row_manual_add_vendor">
                        <div class="col-md-6">
                            <button type="button" class="btn cls_btn_save_vendor_price_template_manual btn-success">Manual add vendor</button>
                            <button type="button" class="btn cls_btn_save_vendor_price_template_manual_price btn-primary">Save/calculate price</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cls_for_table"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cls_nowrap col-md-2">
                            Comment by PG supervisor :
                        </div>
                        <div class="col-md-10">
                            <textarea disabled class="form-control cls_remark_pg_sub_select_vendor_display" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row cls_div_select_vendor_manager cls_hide">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Select vendor (PG supervisor)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" data-toggle="modal" data-target="#popup_attachment" data-go_to_step="SEND_PG_SUP_SEL_VENDOR" class="btn btn-default">View/upload attachment</button>
                            <button type="button" class="btn cls_btn_select_vendor_by_manager btn-primary">Submit</button>
                            <button type="button" class="btn cls_btn_send_back_select_vendor_by_manager btn-warning">Send back workflow</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="cls_table_select_vendor_manager display" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                        <th>
                                            Vendor name
                                        </th>
                                        <th>
                                            User name
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th class="cls_hide">

                                        </th>
                                        <th class="cls_hide">

                                        </th>
                                        <th class="cls_hide">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Comment :
                        </div>
                        <div class="col-md-11">
                            <textarea class="form-control cls_remark_pg_sub_select_vendor" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

