<table class="cls_layout" style="width:0px;">
    <tr>
        <td><button type="button" class="cls_btn_select_so btn btn-info">Assign Sales Order Item</button></td>
        <td><button type="button" class="btn btn-success">Save</button></td>
        <td><button type="button" class="btn btn-danger">Clear</button></td>
    </tr>
</table>
<table class="display dataTable no-footer">
    <thead>
        <tr>
            <th></th>
            <th>SO.</th>
            <th>Item</th>
            <th>Material No.</th>
            <th>Description</th>
            <th>BOM Item</th>
            <th>BOM Component</th>
            <th>Description</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img style="cursor:pointer;" src="~/Content/DataTables/media/images/delete.png" />
            </td>
            <td>500026764</td>
            <td>100</td>
            <td>3AAOLN2NJAMN5RARS4</td>
            <td>307X113 2P 130D185N SJ SL N SFO-48</td>
            <td>20</td>
            <td>5F082114C000000100</td>
            <td>CTN1-46750,GREEN FARMS</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <img style="cursor:pointer;" src="~/Content/DataTables/media/images/delete.png" />
            </td>
            <td>500026764</td>
            <td>200</td>
            <td>5F082114C000000100</td>
            <td>CTN1-46750,GREEN FARMS(100)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <img style="cursor:pointer;" src="~/Content/DataTables/media/images/delete.png" />
            </td>
            <td>500026765</td>
            <td>100</td>
            <td>3AAOLN2NJAMN5RARS4</td>
            <td>307X113 2P 130D185N SJ SL N SFO-48</td>
            <td>20</td>
            <td>5F082114C000000100</td>
            <td>CTN1-46750,GREEN FARMS</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <img style="cursor:pointer;" src="~/Content/DataTables/media/images/delete.png" />
            </td>
            <td>500026765</td>
            <td>200</td>
            <td>5F082114C000000100</td>
            <td>CTN1-46750,GREEN FARMS(100)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <img style="cursor:pointer;" src="~/Content/DataTables/media/images/delete.png" />
            </td>
            <td>500026767</td>
            <td>100</td>
            <td>3AAOLN2NJAMN5RARS4</td>
            <td>307X113 2P 130D185N SJ SL N SFO-48</td>
            <td>20</td>
            <td>5F082114C000000100</td>
            <td>CTN1-46750,GREEN FARMS</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <img style="cursor:pointer;" src="~/Content/DataTables/media/images/delete.png" />
            </td>
            <td>500026767</td>
            <td>200</td>
            <td>5F082114C000000100</td>
            <td>CTN1-46750,GREEN FARMS(100)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<table style="width:100%;margin-top:10px;">
    <tr>
        <td style="width:200px;">Project Owner :</td>
        <td><input readonly type="text" class="form-control" value="" /></td>
    </tr>
    <tr>
        <td style="">Sold-To Party :</td>
        <td><input readonly type="text" class="form-control" value="MITSIAM INTERNATIONAL,LTD." /></td>
    </tr>
    <tr>
        <td style="">Ship-To Party :</td>
        <td><input readonly type="text" class="form-control" value="MITSIAM INTERNATIONAL,LTD." /></td>
    </tr>
    <tr>
        <td style="">Material :</td>
        <td><input readonly type="text" class="form-control" value="3AAOLN2NJAMN5RARS4" /></td>
        <td style="width:200px;padding-left:50px;">Description :</td>
        <td><input readonly type="text" class="form-control" value="307X113 2P 130D185N SJ SL N SFO-48" /></td>
    </tr>
    <tr>
        <td style="">Old Material :</td>
        <td><input readonly type="text" class="form-control" value="3AALNNBJMN5RAR" /></td>
        <td style="width:200px;padding-left:50px;">Description :</td>
        <td><input readonly type="text" class="form-control" value="" /></td>
    </tr>
    <tr>
        <td style="">Plant :</td>
        <td><input readonly type="text" class="form-control" value="TUM Plant 1" /></td>
    </tr>
    <tr>
        <td style="">Size/Drain wt. :</td>
        <td><input readonly type="text" class="form-control" value="307X113-2P TFC/EZO 130GDW" /></td>
        <td style="width:200px;padding-left:50px;">Net Weight :</td>
        <td><input readonly type="text" class="form-control" value="185" /></td>
    </tr>
    <tr>
        <td style="">Prod./Insp. Memo :</td>
        <td><input readonly type="text" class="form-control" value="AN5RAR AOLN2NJAM" /></td>
        <td style="width:200px;padding-left:50px;">Order Quantity :</td>
        <td><input readonly type="text" class="form-control" value="1,700" /></td>
        <td style="padding-left:5px;">CAR</td>
    </tr>
    <tr>
        <td style="">Reason for Rejection :</td>
        <td><input readonly type="text" class="form-control" value="" /></td>
        <td style="width:200px;padding-left:50px;">Pack size :</td>
        <td><input readonly type="text" class="form-control" value="48" /></td>
    </tr>
    <tr>
        <td style="">Brand :</td>
        <td><input readonly type="text" class="form-control" value="GREEN FARMS" /></td>
        <td style="width:200px;padding-left:50px;">Volume :</td>
        <td><input readonly type="text" class="form-control" value="6.5" /></td>
        <td style="padding-left:5px;">OZ</td>
    </tr>
    <tr>
        <td style="">Additional Brand :</td>
        <td><input readonly type="text" class="form-control" value="" /></td>
    </tr>
    <tr>
        <td style="">Sold-To P.O. :</td>
        <td><input readonly type="text" class="form-control" value="CUS0000959" /></td>
        <td style="width:200px;padding-left:50px;">Create Date :</td>
        <td><input readonly type="text" class="form-control" value="27.03.2017" /></td>
    </tr>
    <tr>
        <td style="">Ship-To P.O. :</td>
        <td><input readonly type="text" class="form-control" value="TP17/0322" /></td>
        <td style="width:200px;padding-left:50px;">RDD :</td>
        <td><input readonly type="text" class="form-control" value="01.05.2017" /></td>
    </tr>
    <tr>
        <td style="">Port :</td>
        <td><input readonly type="text" class="form-control" value="DAMMAM,SAUDI ARABIA/ASIA" /></td>
        <td style="width:200px;padding-left:50px;">ETD Date from :</td>
        <td><input readonly type="text" class="form-control" value="" /></td>
    </tr>
    <tr>
        <td style="">Via :</td>
        <td><input readonly type="text" class="form-control" value="" /></td>
        <td style="width:200px;padding-left:50px;">ETD Date to :</td>
        <td><input readonly type="text" class="form-control" value="" /></td>
    </tr>
    <tr>
        <td style="">In Transit to :</td>
        <td><input readonly type="text" class="form-control" value="" /></td>
        <td style="width:200px;padding-left:50px;">Last shipment Date 1-2 :</td>
        <td><input readonly type="text" class="form-control" value="" /></td>
    </tr>
    <tr>
        <td style="">Payment Term :</td>
        <td><input readonly type="text" class="form-control" value="L/C AT SIGHT" /></td>
    </tr>
    <tr>
        <td style="">L/C no. :</td>
        <td><input readonly type="text" class="form-control" value="J190825" /></td>
    </tr>
    <tr>
        <td style="">Exp. :</td>
        <td><input readonly type="text" class="form-control" value="21.06.2017" /></td>
    </tr>
</table>
<hr />
<h5 style="">Sales Order BOM</h5>
<table class="display dataTable no-footer">
    <thead>
        <tr>
            <th>Item</th>
            <th>Component</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Purchase Order</th>
            <th>Delivery Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10</td>
            <td>2AAOLN2NJAMN5RAR00</td>
            <td>307X113 2P 130D185N</td>
            <td>81,600.000</td>
            <td>CAN</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>20</td>
            <td>5F082114C000000100</td>
            <td>CTN1-46750,GREEN FAR</td>
            <td>1,700</td>
            <td>PC</td>
            <td>4100050640</td>
            <td>03.05.2017</td>
        </tr>
        <tr>
            <td>30</td>
            <td>5K082114C000000100</td>
            <td>LBL1-46680,GREEN FAR</td>
            <td>81,600</td>
            <td>PC</td>
            <td>4100058098</td>
            <td>10.05.2017</td>
        </tr>
    </tbody>
</table>
<table class="cls_layout">
    <tr>
        <td style="">Item PKG. & Warehouse Text :</td>
    </tr>
    <tr>
        <td>
            <textarea readonly style="max-width:100%;" class="form-control" rows="10"></textarea>
        </td>
    </tr>
    <tr>
        <td style="padding-top:10px;">General Text :</td>
    </tr>
    <tr>
        <td>
            <textarea readonly style="max-width:100%;" class="form-control" rows="10"></textarea>
        </td>
    </tr>
</table>
