<div class="modal" id="modal_igrid_pa_faozone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form>
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal_in_modal vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="popup_attachment_label">FAOZone</h4>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="display" style="width:100%" id="TableId_igrid_pa_faozone">
                                    <thead>
                                            <tr>
                                                <th class="cls_nowrap"></th>
                                                <th class="cls_nowrap">Id</th>
                                                <th class="cls_nowrap">Description</th>
                                            </tr>
                                        </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary cls_btn_igrid_pa_faozone_submit">Submit</button>
                        <button type="button" class="btn btn-default cls_btn_igrid_pa_faozone_close" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
