@{
    ViewBag.Title = "Create Docmument";
}
@using Microsoft.AspNet.Identity
<div>
    <div class="cls_form_igrid_create">
        <div class="row">
            <div class="col-md-12">
                <h4>Create iGrid Docmument.</h4><span style="font-style:oblique;"></span>
            </div>
        </div>
        <hr />


        <form>

            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-2 control-label">Option/Condition</div>
                <div class="col-md-4">
                    <select class="form-control cls_ddl_option_condition" style="width:100%;">
                        <option selected value="1">Known SO</option>
                        @*<option value="3">Project</option>
                            <option value="4">Version</option>
                            <option value="7">Change Classification</option>*@
                    </select>
                </div>

            </div>


            <div class="row">

                <div class="col-md-2 control-label"></div>
                <div class="col-md-4">
                    <button type="button" class="btn cls_btn_igrid_create btn-success">Create</button>

                </div>
            </div>
        </form>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/taskformigrid")
    <script type="text/javascript">
        var ARTWORK_REQUEST_ID = @ViewBag.ArtworkRequestId;
    </script>
}
