@*@model IEnumerable<DAL.ART_M_STEP_ARTWORK>*@
@{
    ViewBag.Title = "Step List";
}

<h2> Artwork Step List</h2>
<table id="tblstep">
    <thead>
        <tr>
            <th>SALES_ORDER_NO</th>
            <th>SALES_ORDER_ITEM</th>
        </tr>
    </thead>
</table>
<link href="~/Scripts/DataTables/media/js/jquery.dataTables.min.js" rel="stylesheet" />

@section scripts{
    <script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {

            function getParamReportWarehouse() {
                return "?data.SALES_ORDER_NO=500402997";
            }
            debugger;
            var param = getParamReportWarehouse();
            $("#tblstep").DataTable().destroy();
            $("#tblstep").DataTable(
                {
                    orderCellsTop: true,
                    fixedHeader: true,

                    "ajax": {
                        //"url": "/Testing/GetWarehouseReport2" + param,
                        "url": "/api/dashboard/interface" + param,
                        "type": "GET",
                        // "data":data,
                        // "datatype": "json",

                    },




                    "processing": false,
                    "serverSide": false,
                    "searching": true,
                    "lengthChange": true,
                    "ordering": true,
                    "info": true,
                    "scrollX": true,
                   
                    "columns": [
                        { "data": "SALES_ORDER_NO", "className": "cls_nowrap" },
                        { "data": "SALES_ORDER_ITEM", "className": "cls_nowrap" }


                    ]
                    //,

                    //"rowCallback": function (row, data) {
                    //   // if (data[4] == "A") {
                    //      //  $('td:eq(1)', row).html('<b>A</b>');
                    //   // }

                });

        });

    </script>
}






