<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=192.168.1.185;Initial Catalog=CostingDb;User ID=artworkadm;Password=P@ssw0rd123*" providerName="System.Data.SqlClient" />
    <!--<add name="ARTWORKEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.114;initial catalog=ARTWORK_DEV;persist security info=True;user id=artworkadm;password=P@ssw0rd123*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ARTWORKEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.114;initial catalog=ARTWORK_QAS;persist security info=True;user id=artworkadm;password=P@ssw0rd123*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ARTWORKEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.185;initial catalog=ARTWORK_PRD;persist security info=True;user id=artworkadm;password=P@ssw0rd123*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="suburl" value="" />
    <add key="OTUSERNAME" value="otadmin@otds.admin" />
    <add key="OTPASSWORD" value="P@ssw0rd" />
    <add key="OTUSERNAME_Internal" value="Artwork-Internal" />
    <add key="OTPASSWORD_Internal" value="P@ssword1" />
    <add key="OTUSERNAME_Customer" value="Artwork-Customer" />
    <add key="OTPASSWORD_Customer" value="P@ssword1" />
    <add key="OTUSERNAME_Vendor" value="Artwork-Vendor" />
    <add key="OTPASSWORD_Vendor" value="P@ssword1" />
    <add key="MockupFileTemplateNodeID" value="149430" />
    <add key="ArtworkFileTemplateNodeID" value="149431" />
    <add key="MockUpCattTemplateNodeID" value="103403" />
    <add key="MockUpTemplateNodeID" value="105320" />
    <add key="MockUpNodeID" value="70818" />
    <add key="MockupFolderNameQuotation" value="10 - Quotation" />
    <add key="MockupFolderNameMatchboard" value="20 - Matchboard" />
    <add key="MockupFolderNameDieline" value="30 - Die Line" />
    <add key="MockupFolderNameOther" value="90 - Others" />
    <add key="ArtworkTemplateNodeID" value="119357" />
    <add key="ArtworkRequestFormNodeID" value="162331" />
    <add key="ArtworkNodeID" value="162147" />
    <add key="SecondaryPackagingNodeID" value="125641" />
    <add key="SecondaryPkgArtworkFolderName" value="10 - Final Artwork" />
    <add key="ArtworkCattTemplateNodeID" value="103404" />
    <add key="SONodeID" value="70816" />
    <add key="ArtworkFolderNameSO" value="10 - Attachment from SAP" />
    <add key="PONodeID" value="69937" />
    <add key="ArtworkFolderNamePO" value="10 - Purchase Order from SAP" />
    <add key="ArtworkFolderName" value="10 - Artwork" />
    <add key="ArtworkFolderNamePrintMaster" value="20 - Print Master" />
    <add key="ArtworkFolderNameReferenceLetter" value="30 - Reference Letter" />
    <add key="ArtworkFolderNameOther" value="90 - Others" />
    <add key="ArtworkFolderNameDieline" value="40 - Die Line" />
    <add key="ArtworkFolderPO" value="90 - Others" />
    <add key="SMTPFrom" value="adminartworksystem@thaiunion.com" />
    <add key="SMTPServer" value="192.168.1.38" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPSSL" value="FALSE" />
    <add key="MockupURLTaskForm" value="http://localhost:60448/TaskForm/" />
    <add key="ArtworkURLArtworkRequest" value="http://localhost:60448/Artwork/" />
    <add key="ArtworkURLTaskForm" value="http://localhost:60448/TaskFormArtwork/" />
    <add key="ArtworkURL" value="http://localhost:60448/" />
    <add key="CSURLFileAttachment" value="http://idc-app-dv3-114.thaiunion.co.th/OTCS/cs.exe?func=ll&amp;objId=115803&amp;objAction=browse&amp;viewType=1" />
    <add key="FFCDefaultEmailTo_UserID" value="55" />
    <add key="FFCDefaultEmailCC_UserID" value="54" />
    <add key="FFCDefaultReviewer_UserID" value="5" />
    <add key="PathTempFile" value="D:\Artwork\temp\" />
  </appSettings>-->
  <!--<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="suburl" value="/TUArtwork" />
    <add key="OTUSERNAME" value="otadmin@otds.admin" />
    <add key="OTPASSWORD" value="P@ssw0rd" />
    <add key="OTUSERNAME_Internal" value="Artwork-Internal" />
    <add key="OTPASSWORD_Internal" value="P@ssword1" />
    <add key="OTUSERNAME_Customer" value="Artwork-Customer" />
    <add key="OTPASSWORD_Customer" value="P@ssword1" />
    <add key="OTUSERNAME_Vendor" value="Artwork-Vendor" />
    <add key="OTPASSWORD_Vendor" value="P@ssword1" />
    <add key="MockupFileTemplateNodeID" value="100747" />
    <add key="ArtworkFileTemplateNodeID" value="100748" />
    <add key="MockUpCattTemplateNodeID" value="50868" />
    <add key="MockUpTemplateNodeID" value="54759" />
    <add key="MockUpNodeID" value="50943" />
    <add key="MockupFolderNameQuotation" value="10 - Quotation" />
    <add key="MockupFolderNameMatchboard" value="20 - Matchboard" />
    <add key="MockupFolderNameDieline" value="30 - Die Line" />
    <add key="MockupFolderNameOther" value="90 - Others" />
    <add key="ArtworkTemplateNodeID" value="54758" />
    <add key="ArtworkRequestFormNodeID" value="320679" />
    <add key="ArtworkNodeID" value="320680" />
    <add key="SecondaryPackagingNodeID" value="86697" />
    <add key="SecondaryPkgArtworkFolderName" value="10 - Final Artwork" />
    <add key="ArtworkCattTemplateNodeID" value="50862" />
    <add key="SONodeID" value="50617" />
    <add key="ArtworkFolderNameSO" value="10 - Attachment from SAP" />
    <add key="PONodeID" value="50616" />
    <add key="ArtworkFolderNamePO" value="10 - Purchase Order from SAP" />
    <add key="ArtworkFolderName" value="10 - Artwork" />
    <add key="ArtworkFolderNamePrintMaster" value="20 - Print Master" />
    <add key="ArtworkFolderNameReferenceLetter" value="30 - Reference Letter" />
    <add key="ArtworkFolderNameOther" value="90 - Others" />
    <add key="ArtworkFolderPO" value="90 - Others" />
    <add key="SMTPFrom" value="adminartworksystem@thaiunion.com" />
    <add key="SMTPServer" value="192.168.1.38" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPSSL" value="FALSE" />
    <add key="MockupURLTaskForm" value="http://idc-app-dv3-115.thaiunion.co.th:8089/TaskForm/" />
    <add key="ArtworkURLArtworkRequest" value="http://idc-app-dv3-115.thaiunion.co.th:8089/Artwork/" />
    <add key="ArtworkURLTaskForm" value="http://idc-app-dv3-115.thaiunion.co.th:8089/TaskFormArtwork/" />
    <add key="ArtworkURL" value="http://idc-app-dv3-115.thaiunion.co.th:8089/" />
    <add key="CSURLFileAttachment" value="http://idc-app-dv3-115.thaiunion.co.th/otcs/cs.exe?func=ll&amp;objId=50615&amp;objAction=browse&amp;viewType=1" />
    <add key="FFCDefaultEmailTo_UserID" value="99" />
    <add key="FFCDefaultEmailCC_UserID" value="97" />
    <add key="FFCDefaultReviewer_UserID" value="99" />
    <add key="PathTempFile" value="D:\Artwork\temp\" />
  </appSettings>-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="suburl" value="" />
    <add key="EncryptJson" value="TRUE" />
    <add key="OTUSERNAME" value="Admin" />
    <add key="OTPASSWORD" value="P@ssw0rd" />
    <add key="OTUSERNAME_Internal" value="Artwork-Internal" />
    <add key="OTPASSWORD_Internal" value="P@ssword1" />
    <add key="OTUSERNAME_Customer" value="Artwork-Customer" />
    <add key="OTPASSWORD_Customer" value="P@ssword1" />
    <add key="OTUSERNAME_Vendor" value="Artwork-Vendor" />
    <add key="OTPASSWORD_Vendor" value="P@ssword1" />
    <add key="MockupFileTemplateNodeID" value="63341" />
    <add key="ArtworkFileTemplateNodeID" value="63340" />
    <add key="MockUpCattTemplateNodeID" value="63017" />
    <add key="MockUpTemplateNodeID" value="63451" />
    <add key="MockUpNodeID" value="63228" />
    <add key="MockupFolderNameQuotation" value="10 - Quotation" />
    <add key="MockupFolderNameMatchboard" value="20 - Matchboard" />
    <add key="MockupFolderNameDieline" value="30 - Die Line" />
    <add key="MockupFolderNameOther" value="90 - Others" />
    <add key="ArtworkTemplateNodeID" value="63462" />
    <add key="ArtworkRequestFormNodeID" value="79779" />
    <add key="ArtworkNodeID" value="79341" />
    <add key="SecondaryPackagingNodeID" value="81640" />
    <add key="SecondaryPkgArtworkFolderName" value="10 - Final Artwork" />
    <add key="ArtworkCattTemplateNodeID" value="63015" />
    <add key="SONodeID" value="62899" />
    <add key="ArtworkFolderNameSO" value="10 - Attachment from SAP" />
    <add key="PONodeID" value="63118" />
    <add key="ArtworkFolderNamePO" value="10 - Purchase Order from SAP" />
    <add key="ArtworkFolderName" value="10 - Artwork" />
    <add key="ArtworkFolderNamePrintMaster" value="20 - Print Master" />
    <add key="ArtworkFolderNameReferenceLetter" value="30 - Reference Letter" />
    <add key="ArtworkFolderNameOther" value="90 - Others" />
    <add key="ArtworkFolderNameDieline" value="40 - Die Line" />
    <add key="ArtworkFolderPO" value="90 - Others" />
    <add key="SMTPFrom" value="adminartworksystem@thaiunion.com" />
    <add key="SMTPServer" value="192.168.1.38" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPSSL" value="FALSE" />
    <add key="MockupURLTaskForm" value="https://artwork.thaiunion.com/TaskForm/" />
    <add key="ArtworkURLArtworkRequest" value="https://artwork.thaiunion.com/Artwork/" />
    <add key="ArtworkURLTaskForm" value="https://artwork.thaiunion.com/TaskFormArtwork/" />
    <add key="ArtworkURL" value="https://artwork.thaiunion.com/" />
    <add key="CSURLFileAttachment" value="http://idc-app-nv3-184.thaiunion.co.th/OTCS/cs.exe?func=ll&amp;objId=63231&amp;objAction=browse&amp;sort=name&amp;viewType=1" />
    <add key="FFCDefaultEmailTo_UserID" value="99" />
    <add key="FFCDefaultEmailCC_UserID" value="97" />
    <add key="FFCDefaultReviewer_UserID" value="99" />
    <add key="PathTempFile" value="D:\ArtworkTemp\Files\" />
    <add key="TUDomain" value="THAIUNION\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <globalization uiCulture="en" culture="en-GB" />
    <customErrors mode="Off" defaultRedirect="~/Error">
    </customErrors>
    <authentication mode="Forms">
      <forms name="tuauth" loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="2147483647" maxQueryStringLength="2097151" maxUrlLength="2097151" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="2147483647" maxQueryString="2147483647" maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CsvHelper" publicKeyToken="8c4959082be5c823" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-31.0.0.0" newVersion="31.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITwoWayAsync">
          <security mode="None" />
        </binding>
        <binding openTimeout="00:59:00" closeTimeout="00:59:00" sendTimeout="00:59:00" receiveTimeout="00:59:00">
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" />
        <binding name="BasicHttpBinding_Authentication" />
        <binding name="BasicHttpBinding_ContentService" messageEncoding="Mtom" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="BasicHttpBinding_DocumentManagement" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" />
        <binding name="BasicHttpBinding_MemberService" />
      </basicHttpBinding>
    </bindings>
    <!--<client>
      <endpoint address="http://idc-app-dv3-114.thaiunion.co.th/cws/Authentication.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Authentication" contract="Authentication.Authentication" name="BasicHttpBinding_Authentication" />
      <endpoint address="http://idc-app-dv3-114.thaiunion.co.th/cws/ContentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ContentService" contract="ContentService.ContentService" name="BasicHttpBinding_ContentService" />
      <endpoint address="http://idc-app-dv3-114.thaiunion.co.th/cws/DocumentManagement.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentManagement" contract="DocumentManagement.DocumentManagement" name="BasicHttpBinding_DocumentManagement" />
      <endpoint address="http://idc-app-dv3-114.thaiunion.co.th/cws/MemberService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MemberService" contract="MemberService.MemberService" name="BasicHttpBinding_MemberService" />
      <endpoint address="http://192.168.3.114/BizTalkWcfService/MM65.svc?singleWsdl" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync" contract="BizMM65Service.MM65" name="WSHttpBinding_ITwoWayAsync" />
    </client>-->
    <!--<client>
        <endpoint address="http://idc-app-dv3-115.thaiunion.co.th/cws/Authentication.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Authentication" contract="Authentication.Authentication" name="BasicHttpBinding_Authentication" />
        <endpoint address="http://idc-app-dv3-115.thaiunion.co.th/cws/ContentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ContentService" contract="ContentService.ContentService" name="BasicHttpBinding_ContentService" />
        <endpoint address="http://idc-app-dv3-115.thaiunion.co.th/cws/DocumentManagement.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentManagement" contract="DocumentManagement.DocumentManagement" name="BasicHttpBinding_DocumentManagement" />
        <endpoint address="http://idc-app-dv3-115.thaiunion.co.th/cws/MemberService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MemberService" contract="MemberService.MemberService" name="BasicHttpBinding_MemberService" />
        <endpoint address="http://192.168.3.115/BizTalkWcfService/MM65.svc?singleWsdl" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync" contract="BizMM65Service.MM65" name="WSHttpBinding_ITwoWayAsync" />
      </client>-->
    <client>
      <endpoint address="http://idc-app-nv3-184.thaiunion.co.th/cws/Authentication.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Authentication" contract="Authentication.Authentication" name="BasicHttpBinding_Authentication" />
      <endpoint address="http://idc-app-nv3-184.thaiunion.co.th/cws/ContentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ContentService" contract="ContentService.ContentService" name="BasicHttpBinding_ContentService" />
      <endpoint address="http://idc-app-nv3-184.thaiunion.co.th/cws/DocumentManagement.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentManagement" contract="DocumentManagement.DocumentManagement" name="BasicHttpBinding_DocumentManagement" />
      <endpoint address="http://idc-app-nv3-184.thaiunion.co.th/cws/MemberService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MemberService" contract="MemberService.MemberService" name="BasicHttpBinding_MemberService" />
      <endpoint address="http://192.168.3.114/BizTalkWcfService/MM65.svc?singleWsdl" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync" contract="BizMM65Service.MM65" name="WSHttpBinding_ITwoWayAsync" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>