<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PreviousDays" value="-10" />
    <add key="CustomerWorkspaceNodeId" value="70817" />
    <add key="VendorWorkspaceNodeId" value="69938" />
    <add key="MaterialWorkspaceNodeId_FinishedGoods" value="125648" />
    <add key="MaterialWorkspaceNodeId_SecondaryPackaging" value="125641" />
  </appSettings>
  <connectionStrings>
    <add name="ARTWORKEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.114;initial catalog=ARTWORK_DEV;persist security info=True;user id=artworkadm;password=P@ssw0rd123*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CSTUEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.114;initial catalog=CSDEVTU;persist security info=True;user id=xecmadm;password=P@ssw0rd123*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CsvHelper" publicKeyToken="8c4959082be5c823" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-31.0.0.0" newVersion="31.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

<!--<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PreviousDays" value="-10" />
    <add key="CustomerWorkspaceNodeId" value="50613" />
    <add key="VendorWorkspaceNodeId" value="50618" />
    <add key="MaterialWorkspaceNodeId_FinishedGoods" value="86696" />
    <add key="MaterialWorkspaceNodeId_SecondaryPackaging" value="86697" />
  </appSettings>
  <connectionStrings>
    <add name="ARTWORKEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.114;initial catalog=ARTWORK_QAS;persist security info=True;user id=artworkadm;password=P@ssw0rd123*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CSTUEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.114;initial catalog=CSQASTU;persist security info=True;user id=xecmadm;password=P@ssw0rd123*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>-->

<!-- Config PRD -->
<!--<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PreviousDays" value="-10" />
    <add key="CustomerWorkspaceNodeId" value="63448" />
    <add key="VendorWorkspaceNodeId" value="63119" />
    <add key="MaterialWorkspaceNodeId_FinishedGoods" value="81970" />
    <add key="MaterialWorkspaceNodeId_SecondaryPackaging" value="81640" />
  </appSettings>
  <connectionStrings>
    <add name="ARTWORKEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.185;initial catalog=ARTWORK_PRD;persist security info=True;user id=artworkadm;password=P@ssw0rd123*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CSTUEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.185;initial catalog=CS;persist security info=True;user id=sa;password=AAaa123*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>-->