<div class="row">
    <div style="width:100px;" class="col-md-1">
        <div style="float:left;">Sender</div>
        <div style="margin-left:10px;background-color:#357ebd;border-radius: 20px;width:18px;float:left;">&nbsp;</div>
    </div>
    <div style="width:125px;" class="col-md-1">
        <div style="float:left;">Receiver</div>
        <div style="margin-left:10px;background-color:#333;border-radius: 20px;width:18px;float:left;">&nbsp;</div>
    </div>
</div>