<table id="table_taskform_history" class="display" style="width:100%">
    <thead>
        <tr>
            <th class="cls_nowrap cls_td_width_10"></th>
            <th class="cls_nowrap cls_td_width_10"></th>
            <th class="cls_nowrap cls_td_width_10"></th>
            <th class="cls_nowrap cls_td_width_10"></th>
            <th class="cls_nowrap cls_td_width_10"></th>
            <th class="cls_nowrap">Owner name</th>
            <th class="cls_nowrap">Step</th>
            <th class="cls_nowrap">Remark</th>
            <th class="cls_nowrap">Remark by others</th>
            <th style="width:200px;" class="cls_nowrap">Date-time</th>
            <th class="cls_nowrap cls_td_width_10"></th>
        </tr>
    </thead>
</table>
