<div class="cls_task_form_pg_artwork" style="padding-top:10px;">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="cls_btn_submit_pg_artwork btn btn-primary">Submit</button>
            <button type="button" class="cls_btn_search_for_die_line_pg_artwork btn btn-warning">Search for dieline</button>
            <button type="button" class="cls_btn_send_back_pg_artwork btn btn-warning">Send back</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: -10px;">
            <input type="hidden" class="cls_hid_artwork_taskform_primary_type" />
            <input type="hidden" class="cls_hid_artwork_taskform_packaging_type" />
            @Html.Partial("~/Views/TaskForm/PG.cshtml")
        </div>
    </div>
    <hr />
    @*<div class="row">
        <div class="col-md-12">
            <table id="table_pg_artwork_log" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th class="cls_nowrap col-md-1 cls_th_log_by_pg">No.</th>
                        <th class="cls_nowrap col-md-3 cls_th_log_by_pg">Reason by PA</th>
                        <th class="cls_nowrap col-md-3 cls_th_log_by_pg">Comment by PA</th>
                        <th class="cls_nowrap cls_th_log_by_pg">Created date-time</th>
                        <th class="cls_nowrap col-md-1">Action name</th>
                        <th class="cls_nowrap col-md-3">Reason by PG</th>
                        <th class="cls_nowrap col-md-3">Comment by PG</th>
                        <th class="cls_nowrap col-md-1">Created date-time</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>*@
</div>
