<div class="cls_task_form_pg_artwork" style="padding-top:10px;">
    @*<div class="row">
        <div class="col-md-12">
            <button type="button" class="cls_btn_submit_pg_artwork btn btn-primary">Submit</button>
            <button type="button" class="cls_btn_search_for_die_line_pg_artwork btn btn-warning">Search for dieline</button>
            <button type="button" class="cls_btn_send_back_pg_artwork btn btn-warning">Send back</button>
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-12" style="margin-top: -10px;">
            <input type="hidden" class="cls_hid_artwork_taskform_primary_type" />
            <input type="hidden" class="cls_hid_artwork_taskform_packaging_type" />
            @Html.Partial("~/Views/TaskForm/PGForVendor.cshtml")
        </div>
    </div>
    <hr />
</div>
