<div class="modal" id="modal_tfartwork_salesorder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sales order item</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2 control-label">
                            Artwork :
                        </div>
                        <div class="col-md-10">
                            <a href="@Url.Action("Download_Artwork","FileUpload")" target="_blank" class="cls_a_tfartwork_filename" title="Download">
                                <img class="cls_img_tfartwork" src="~/Content/img/Preview.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            Sales order number from marketing :
                        </div>
                        <div class="col-md-4">
                            <textarea style="" rows="4" class="cls_input_artwork_salesorder form-control" disabled></textarea>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    Sold to name :
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="cls_lbl_assign_so_sold_to_name form-control" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Ship to name :
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="cls_lbl_assign_so_ship_to_name form-control" disabled />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Brand name :
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="cls_lbl_assign_so_brand_name form-control" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="dataTables_filter">
                        <table class="columns" style="width:100%">
                            <tr>
                                <td align="Left">
                                    <label class="radio-inline">
                                        <input type="radio" class="cls_fliter_so_foc" name="filter_so" id="filter_so" value="0" checked>
                                        Sale orders
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" class="cls_fliter_so_foc" name="filter_so" id="filter_foc" value="1">
                                        Free of charge
                                    </label>
                                </td>
                                <td align="right">
                                    <label>
                                        Search:
                                        <input type="text" class="filter_tfartwork_salesorder" id="filter_tfartwork_salesorder">
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row cls_row_salesorder_select">
                        <div class="col-md-12">
                            <table id="table_tfartwork_salesorder_select" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width:20px;"></th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>GROUPING_DISPLAY_TXT</th>
                                        <th class="cls_hide">GROUPING_DISPLAY_TXT</th>

                                        <th class="cls_nowrap">Sales org</th>
                                        <th class="cls_nowrap">SO number</th>
                                        <th class="cls_nowrap">SO item</th>

                                        <th class="cls_nowrap">RDD</th>
                                        <th class="cls_nowrap">Material no.</th>
                                        <th class="cls_nowrap">Port</th>
                                        <th class="cls_nowrap">Plant</th>
                                        <th class="cls_nowrap">Order BOM no.</th>
                                        <th class="cls_nowrap">Order BOM desc</th>
                                        <th class="cls_nowrap">New BOM item</th>
                                        <th class="cls_nowrap">Quantity</th>
                                        <th class="cls_nowrap">Stock/PO</th>
                                        <th class="cls_nowrap cls_hide">Order BOM ID</th>
                                        <th style="width:20px;"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="row cls_row_foc_select cls_hide">
                        <div class="col-md-12">
                            <table id="table_tfartwork_foc_select" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width:20px;"></th>
                                        <th>No.</th>
                                        <th></th>
                                        <th class="cls_nowrap">SO number</th>
                                        <th class="cls_nowrap">SO item</th>
                                        <th class="cls_nowrap">Material no.</th>
                                        <th class="cls_nowrap">Material description</th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cls_btn_tfartwork_salesorder_select btn btn-primary">Select</button>
                    <button type="button" class="cls_btn_tfartwork_foc_select cls_hide btn btn-primary">Select</button>
                    <button type="button" class="cls_btn_tfartwork_salesorder_close btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="modal_tfartwork_salesorder_viewchange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">All changes</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="table_tfartwork_salesorder_viewchange" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>GROUPING</th>
                                        <th class="cls_nowrap">Fields Name</th>
                                        <th class="cls_nowrap">Old Value</th>
                                        <th class="cls_nowrap">New Value</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="so_change_msg cls_hide">Bom sequence has been changed, from material repeat to new.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="cls_btn_tfartwork_salesorder_viewchange_accept btn btn-primary">Accept changes</button>
                    <button type="button" class="cls_btn_tfartwork_salesorder_viewchange_close btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>