
@{
    ViewBag.Title = "Status of all material report";
}

<div class="cls_report_matstatus">
    <div class="panel-default">
        <div class="panel-heading cls_div_search_criteria">
            <h3 class="panel-title">Status of all material report</h3>
        </div>

        <div class="panel-body cls_div_body_search_criteria" style="padding:0px;padding-top:10px;">
            <form>
                <div class="row">
                    <div class="col-md-2 control-label">
                        By Status :
                    </div>
                    <div class="col-md-4">
                        @*@Html.Partial("LOV/ListOfValue", new ViewDataDictionary { { "cls_ddl", "cls_lov_by_status" } })*@
                        <select class="form-control cls_lov_by_status" style="width:100%;">
                            <option value="Active Material" selected>Active Material</option>
                            <option value="InActive Material">InActive Material</option>
                            <option value="Before Go-Live">Before Go-Live</option>
                        </select>
                    </div>
                    <div class="col-md-2 control-label">Keyword :</div>
                    <div class="col-md-4 "><input type="text" class="form-control cls_txt_master_keyword" placeholder="" /></div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="cls_matstatus_btn_search btn btn-primary">Search</button>
                        <button type="button" class="cls_matstatus_btn_clr cls_hide btn btn-danger">Clear</button>
                        <button type="button" class="btn btn-info cls_btn_export_excel">Export excel</button>
                        <button type="button" class="btn cls_btn_reactive cls_row_active cls_hide" style="background-color:darkorange;border-color:coral;color:white">Re-Active</button>
                        @*<button type="button" class="cls_matstatus_btn_re_active btn btn-danger">Re-Active</button>*@
                        @*<button type="button" class="cls_trk_btn_back btn btn-warning">Back</button>*@
                    </div>
                </div>

                @*<hr style="margin-top:10px;margin-bottom:10px;" />
                <div class="row cls_row_active cls_hide">
                    <div class="col-md-12">

                    </div>
                </div>*@

            </form>
        </div>
    </div>
    <hr style="margin-top:10px;margin-bottom:10px;" />
    <div class="row">
        <div class="col-md-12">
            <!--Packaging View-->
            <div class="cls_table_report_matstatus">
                <table id="table_report_matstatus" class="display" style="width:100%">
                    <thead>
                        <tr>     
                            <th></th>
                            <th class="cls_nowrap">Id</th>
                            <th class="cls_nowrap">Material</th>                          
                            <th class="cls_nowrap">Description</th>
                            <th class="cls_nowrap">Status</th>                           
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/reportmatstatus")
}

